body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
    margin: 1rem;
}


main {
    width: 97%;
    padding: 1rem;
    margin-left: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    margin-bottom: 2rem;
}

.image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    width: 300px; /* Set your desired width */
    height: 400px; /* Set your desired height */
}

.image.right img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the specified dimensions */
}

.in_progress {
    text-align: center;
    color: red;
    font-weight: bold;
}

header {
    background-image: url('../images/night_sky_cal.gif');
    background-size: cover; /* This ensures the image covers the entire header */
    background-position: center bottom 40%; /* This centers the image in the header */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main {
    flex: 1;
}
